NEXT_PUBLIC_SUPABASE_URL=https://mglrriyxwjlpvlgogeke.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8C0sRfvtjElsO2XfrZDvuw_V4Y8w6vx
SUPABASE_SERVICE_ROLE_KEY=sb_secret_ByeBAG18WDdyqpipqhn5nQ_tvNvfhSd
